---
import Layout from "@/layouts/Layout.astro";
import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import { useTranslations } from "@/i18n/utils";
import OpenSourceIcon from "@/components/icons/OpenSource.astro";

const { lang } = Astro.params;

const t = useTranslations(lang);
---

<Layout title={t("title")} description={t("description")}>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-8" />
        {t("experience")}
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <TitleSection>
        <CodeIcon class="size-7" />
        {t("projects")}
      </TitleSection>
      <Projects />
    </SectionContainer>
    <SectionContainer id="open-source">
      <TitleSection>
        <OpenSourceIcon class="size-8" />
        {t("open-source")}
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <ProfileCheck class="size-8" />
        {t("about-me")}
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
