<header class="header">
    
    <nav class="dark:bg-gray-700 dark:text-white">
        <label for="about-me">
            <input type="radio" name="section" id="about-me" hidden>
            <a href="#about-me">Sobre mi</a>
        </label>
        <span class="line"></span>
        <label for="experience">
            <input type="radio" name="section" id="experience" hidden>
            <a href="#experience">Experiencia</a>
        </label>
        <span class="line"></span>
        <label for="projects">
            <input type="radio" name="section" id="projects" hidden>
            <a href="#projects">Proyectos</a>
        </label>
        <span class="line"></span>
        <label for="contact">
            <input type="radio" name="section" id="contact" hidden>
            <a href="#contact">Contacto</a>
        </label>
    </nav>
</header>