<header class="header">

    <!-- <img src="/avatar.png" alt="profile"> -->
    
    <nav>
        <a href="">Sobre mi</a>
        <span class="line"></span>
        <a href="">Experiencia</a>
        <span class="line"></span>
        <a href="">Proyectos</a>
        <span class="line"></span>
        <a href="">Contacto</a>
    </nav>
</header>