---
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import { ViewTransitions } from "astro:transitions";

const title = "Juan Pa Sánchez";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>{title}</title>
  </head>
  <body class="bg-[linear-gradient(to_top,#82A0EE_0%,#4A5C88_80%)] min-h-dvh">
    <ViewTransitions />
    <Header />
    <Main />
    <script>
      const $ = (element: string) => document.querySelector(element);
      const $$ = (elements: string) => document.querySelectorAll(elements);

      let i = 1;

      $$(".blur-item").forEach((element) => {
        element.addEventListener("animationend", (e: Event) => {
          (e.target as HTMLElement).classList.remove("show");

          (e.target as HTMLElement).removeEventListener(
            "animationend",
            () => {}
          );
        });
        i++;
      });
    </script>
  </body>
</html>
