---
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";
import Profile from "../components/Profile.astro";

const title = "Juan Pa Sánchez";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>{title}</title>
  </head>
  <body class="bg-[linear-gradient(to_top,#82A0EE_0%,#4A5C88_80%)] min-h-dvh">
    <ViewTransitions />
    <Header />
    <Profile/>
    <script>
      const $ = (element: string) => document.querySelector(element);
      const $$ = (elements: string) => document.querySelectorAll(elements);

    </script>
  </body>
</html>
