---
import Blur from "../components/global/Blur.astro";
import ViewLess from "./svg/ViewLess.astro";
---

<Blur
  transitionName="contact"
  className="mx-10 mt-10 min-h-[80vh] h-full pt-14"
  labelName="Contact"
>
  <ViewLess />
  <article class="flex flex-wrap gap-5 justify-center pt-3">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique veniam
      magnam pariatur fugiat repudiandae aspernatur autem consectetur laboriosam
      quas. Est veniam amet fugiat commodi, eligendi veritatis magni
      perspiciatis officia ea?
    </p>

    <div class="w-3/4 h-[400px]">

    </div>
  </article>
</Blur>
