<header transition:name="header" class="flex justify-between px-10 pt-5">
  <section>
    <input type="checkbox" name="" id="" />
  </section>
  <section class="flex gap-5 items-center">
    <p class="text-white font-jejuHallasan">Juan Pablo Sánchez Villegas</p>
    <div class="bg-white h-16 aspect-square rounded-full">
      <img src="/avatar.PNG" alt="" class="w-full h-full rounded-full" />
    </div>
    <input type="checkbox" name="" id="" />
  </section>
</header>
