<header class="flex justify-between">
  <section>
    <input type="checkbox" name="" id="" />
  </section>
  <section class="flex gap-2 items-center">
    <p class="text-white">Juan Pablo Sánchez Villegas</p>
    <div class="bg-white h-10 aspect-square rounded-full">
      <img src="" alt="" class="w-full h-full rounded-full" />
    </div>
    <input type="checkbox" name="" id="" />
  </section>
</header>
