<header
  transition:name="header"
  class="flex justify-between px-10 pt-5 relative z-10 items-center"
  transition:persist="true"
>
  <label class="switch flex-shrink-0" for="switch">
    <input type="checkbox" id="switch" />
    <span class="slider"></span>
    <span class="decoration"></span>
  </label>
  <section class="flex gap-5 items-center">
    <a href="/home" class="flex gap-5 items-center">
      <p class="text-white font-jejuHallasan hidden sm:block">Juan Pablo Sánchez Villegas</p>
      <div class="bg-white h-16 aspect-square rounded-full">
        <img src="/avatar.PNG" alt="" class="w-full h-full rounded-full" />
      </div>
    </a>
    <div class="ui-wrapper">
      <input checked="" id="Austria" name="flag" type="radio" />
      <input id="ES" name="flag" type="radio" />
      <input id="EN" name="flag" type="radio" />

      <input
        class="dropdown-checkbox"
        name="dropdown"
        id="dropdown"
        type="checkbox"
      />
      <label class="dropdown-container" for="dropdown"></label>
      <div class="input-wrapper">Spanish</div>
      <div class="select-wrapper">
        <ul>
          <li class="Austria">
            <label for="Austria"><span>🇦🇹</span>Spanish</label>
          </li>
          <li class="Belgium">
            <label for="Belgium"><span>🇧🇪</span>Belgium (+32)</label>
          </li>
        </ul>
      </div>
    </div>
  </section>
</header>
<style>
  /* The switch - the box around the slider */
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    cursor: pointer;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    --background: #20262c;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: 0.5s;
    border-radius: 30px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow:
      inset 8px -4px 0px 0px #ececd9,
      -4px 1px 4px 0px #dadada;
    background: var(--background);
    transition: 0.5s;
  }

  .decoration {
    position: absolute;
    content: "";
    height: 2px;
    width: 2px;
    border-radius: 50%;
    right: 20%;
    top: 15%;
    background: #e5f041e6;
    backdrop-filter: blur(10px);
    transition: all 0.5s;
    box-shadow:
      -7px 10px 0 #e5f041e6,
      8px 15px 0 #e5f041e6,
      -17px 1px 0 #e5f041e6,
      -20px 10px 0 #e5f041e6,
      -7px 23px 0 #e5f041e6,
      -15px 25px 0 #e5f041e6;
  }

  input:checked ~ .decoration{
    transform: translateX(-20px);
    width: 10px;
    height: 10px;
    background: white;
    box-shadow: -12px 0 0 white,
      -6px 0 0 1.6px white,
      5px 15px 0 1px white,
      1px 17px 0 white,
      10px 17px 0 white;
  }

  input:checked + .slider {
    background-color: #5494de;
  }

  input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow:
      inset 15px -4px 0px 15px #efdf2b,
      0 0 10px 0px #efdf2b;
  }

  /* Change lang */

  .ui-wrapper {
    --width: 150px;
    --height: 50px;
    --background: #fff;
    --text-color: rgb(73, 73, 73);
    --border-color: rgb(185, 184, 184);
    --border-focus-color: rgb(0, 110, 255);
    --shadow-color: rgba(34, 60, 80, 0.2);
    --shadow-focus-color: rgba(0, 110, 255, 0.2);
    --dropdown-button-color: #e6e6e6;
    --dropdown-button-hover-color: #dad9d9;
  }

  .ui-wrapper *,
  .ui-wrapper *::before,
  .ui-wrapper *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--text-color);
  }

  .ui-wrapper {
    width: var(--width);
    height: var(--height);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border-radius: 10px;
    position: relative;
    border: 1px solid var(--border-color);
    background-color: var(--background);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 10px;
    -webkit-box-shadow: 0px 2px 5px 0px var(--shadow-color);
    box-shadow: 0px 2px 5px 0px var(--shadow-color);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ui-wrapper > input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: 9999px;
  }

  .dropdown-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 9px 0 0 9px;
    background-color: var(--dropdown-button-color);
  }

  .dropdown-container::before {
    content: "🇦🇹";
    font-size: 20px;
    background: none !important;
  }

  .dropdown-container::after {
    content: "";
    background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjNDk0OTQ5IiB3aWR0aD0iNzAwcHQiIGhlaWdodD0iNzAwcHQiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDcwMCA3MDAiCiAgICB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxwYXRoCiAgICAgICAgZD0ibTM4MC4zOSA0ODQuNzkgMzA3LjA0LTMwNS45OWMxNi43NjYtMTcuODEyIDE2Ljc2Ni00NS4wNTkgMC02MS44MjgtMTYuNzY2LTE2Ljc2Ni00NS4wNTktMTYuNzY2LTYxLjgyOCAwbC0yNzUuNiAyNzUuNi0yNzUuNi0yNzUuNmMtMTcuODEyLTE2Ljc2Ni00NS4wNTktMTYuNzY2LTYxLjgyOCAwLTE2Ljc2NiAxNi43NjYtMTYuNzY2IDQ0LjAxMiAwIDYxLjgyOGwzMDUuOTkgMzA1Ljk5YzE3LjgxMiAxNi43NjYgNDUuMDU5IDE2Ljc2NiA2MS44MjggMHoiCiAgICAgICAgZmlsbC1ydWxlPSJjdXJyZW50Q29sb3IiIC8+Cjwvc3ZnPg==");
    width: 12px;
    height: 12px;
    background-position: center;
    background-size: cover;
    margin-left: 5px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .select-wrapper {
    width: var(--width);
    position: absolute;
    top: calc(var(--height) + 20px);
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .select-wrapper ul {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    list-style: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    white-space: nowrap;
  }

  .select-wrapper ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
  }

  .select-wrapper ul li label {
    width: 100%;
  }

  .select-wrapper ul li,
  .select-wrapper ul li * {
    cursor: pointer;
  }

  .select-wrapper ul li:hover {
    background: lightgray;
  }

  .select-wrapper ul li span {
    display: inline-block;
    margin-right: 15px;
  }

  .input-wrapper {
    width: 100%;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    row-gap: 2px;
  }

  .input-wrapper legend {
    font-size: 11px;
  }

  .input-wrapper .textfield {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .input-wrapper .textfield::before {
    content: "+31";
    margin-right: 5px;
    white-space: nowrap;
  }

  .input-wrapper .textfield input {
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    background: none;
  }

  .invalid-msg {
    font-size: 12px;
    position: absolute;
    color: red;
    top: 115%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  /* actions */

  .ui-wrapper:focus-within {
    border-color: var(--border-focus-color);
    -webkit-box-shadow: 0px 2px 5px 0px var(--shadow-focus-color);
    box-shadow: 0px 2px 5px 0px var(--shadow-focus-color);
  }

  .dropdown-container:hover {
    background-color: var(--dropdown-button-hover-color);
  }

  .dropdown-checkbox:checked ~ .select-wrapper {
    top: calc(var(--height) + 5px);
    opacity: 1;
    visibility: visible;
  }

  .dropdown-checkbox:checked + .dropdown-container::after {
    rotate: 180deg;
    translate: 0 -2px;
  }

  .ui-wrapper input#Austria:checked ~ .dropdown-container::before,
  .ui-wrapper input#Austria:checked ~ .select-wrapper li.Austria {
    content: "🇦🇹";
    background-color: lightgray;
  }

  .ui-wrapper input#Luxembourg:checked ~ .dropdown-container::before,
  .ui-wrapper input#Luxembourg:checked ~ .select-wrapper li.Luxembourg {
    content: "🇱🇺";
    background-color: lightgray;
  }
</style>
