---
import Blur from "./global/Blur.astro";
import Github from "./svg/Github.astro";
import LinkedIn from "./svg/LinkedIn.astro";
import Whatsapp from "./svg/Whatsapp.astro";
import Gmail from "./svg/Gmail.astro";
---

<main
  class="flex flex-wrap px-10 items-end h-full min-h-[400px] max-w-[1500px] mx-auto justify-center"
>
  <Blur
    className="w-[clamp(300px,50vw,600px)] h-[200px] flex items-center px-8 show infinite-bounce [animation-delay:120ms;] "
  >
    <img src="/avatar.PNG" alt="avatar" class="h-36 aspect-square rounded-md" />
    <section class="w-full h-36 text-center">
      <h1 class="font-bold text-white">Software Developer</h1>

      <div class="flex justify-center gap-2 mt-16">
        <a href="#" class="item github">
          <span class="absolute opacity-0">Github</span>
          <Github />
        </a>
        <a href="#" class="item whatsapp">
          <span class="absolute opacity-0">Whatsapp</span>
          <Whatsapp />
        </a>
        <a href="#" class="item linkedin">
          <span class="absolute opacity-0">LinkedIn</span>
          <LinkedIn />
        </a>
        <a href="#" class="item gmail">
          <span class="absolute opacity-0">Gmail</span>
          <Gmail />
        </a>
      </div>
    </section>
  </Blur>
  <Blur
    className="w-[clamp(300px,50vw,600px)] ml-10 h-[140px] flex items-center px-8 mb-5 show infinite-bounce [animation-delay:230ms;] "
  >
    <section class="w-full h-20 text-center">
      <h1 class="font-bold text-white">Software Developer</h1>

      <div class="flex justify-center gap-2 items-start">
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
      </div>
    </section>
  </Blur>
  <Blur
    className="w-[clamp(450px,70vw,800px)] ml-10 h-[340px] flex items-center px-8 mt-20 show infinite-bounce [animation-delay:340ms;] "
  >
    <section class="w-full h-20 text-center">
      <h1 class="font-bold text-white">Software Developer</h1>

      <div class="flex justify-center gap-2 items-start">
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
      </div>
    </section>
  </Blur>
  <Blur
    className="w-[clamp(200px,20vw,300px)] ml-28 mb-10 h-[340px] flex items-center px-8 mt-20 show infinite-bounce [animation-delay:300ms;] "
  >
    <section class="w-full text-center">
      <h1 class="font-bold text-white">Software Developer</h1>

      <div class="flex justify-center gap-2 items-start">
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
      </div>
    </section>
  </Blur>
</main>
