---
import Blur from "./global/Blur.astro";
---

<main class="flex flex-wrap px-10">
  <Blur
    className="w-[clamp(300px,50vw,700px)] h-[200px] flex items-center px-8"
  >
    <img src="/avatar.PNG" alt="avatar" class="h-36 aspect-square rounded-md" />
    <section class="w-full h-36 text-center">
      <h1 class="font-bold text-white">Software Developer</h1>

      <div class="flex justify-center gap-2 mt-16">
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
      </div>
    </section>
  </Blur>
</main>
