---
import Blur from "./global/Blur.astro";
import Github from "./svg/Github.astro";
import LinkedIn from "./svg/LinkedIn.astro";
import Whatsapp from "./svg/Whatsapp.astro";
import Gmail from "./svg/Gmail.astro";
import ViewMore from "./svg/ViewMore.astro";
---

<main
  id="home"
  class="flex flex-wrap px-10 items-center h-full min-h-[400px] max-w-[1500px] mx-auto justify-center lg:gap-0 gap-10 mt-14"
>
  <Blur
    className=" h-[200px] flex items-center px-8 show infinite-bounce [animation-delay:120ms;] lg:w-[clamp(200px,40vw,600px)]"
    transitionName="profile"
    labelName="profile"
  >
    <ViewMore href="/profile" />
    <img
      src="/avatar.PNG"
      alt="avatar"
      class="h-36 aspect-square rounded-sm"
      transition:name="me"
    />
    <section class="w-full h-36 text-center">
      <h1 class="font-bold text-white font-jsMath">Software Developer</h1>

      <div class="flex justify-center gap-2 mt-16">
        <a
          target="_blank"
          href="https://github.com/juanpabl0svn"
          class="item github"
        >
          <span class="absolute opacity-0">Github</span>
          <Github />
        </a>
        <a
          target="_blank"
          href="https://api.whatsapp.com/send/?phone=573004353401&text&type=phone_number&app_absent=0"
          class="item whatsapp"
        >
          <span class="absolute opacity-0">Whatsapp</span>
          <Whatsapp />
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/juan-pablo-sanchez-villegas/"
          class="item linkedin"
        >
          <span class="absolute opacity-0">LinkedIn</span>
          <LinkedIn />
        </a>
        <a
          target="_blank"
          href="mailto:juanpablo@yconsultores.com"
          class="item gmail"
        >
          <span class="absolute opacity-0">Gmail</span>
          <Gmail />
        </a>
      </div>
    </section>
  </Blur>
  <Blur
    className="w-[clamp(200px,30vw,600px)] lg:ml-10  h-[140px] flex items-center px-8 mb-5 show infinite-bounce [animation-delay:230ms;] "
    labelName="Certificates"
  >
    <ViewMore href="/profile" />

    <section class="w-full h-20 text-center">
      <h1 class="font-bold text-white">Software Developer</h1>

      <div class="flex justify-center gap-2 items-start">
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
      </div>
    </section>
  </Blur>
  <Blur
    className="w-[clamp(400px,50vw,800px)] lg:ml-10 h-[270px] flex items-center px-8 lg:mt-20 show infinite-bounce [animation-delay:340ms;] "
    labelName="Projects"
  >
    <ViewMore href="/profile" />

    <section class="w-full h-20 flex gap-2 items-center justify-center">
      <div
        class="bg-white h-28 aspect-square rounded-sm hover:-translate-y-5 transition-all duration-200 ease-in-out"
      >
      </div>
      <div
        class="bg-white h-28 aspect-square rounded-sm hover:-translate-y-5 transition-all duration-200 ease-in-out"
      >
      </div>
      <div
        class="bg-white h-28 aspect-square rounded-sm hover:-translate-y-5 transition-all duration-200 ease-in-out"
      >
      </div>
      <div
        class="bg-white h-28 aspect-square rounded-sm hover:-translate-y-5 transition-all duration-200 ease-in-out hidden lg:block"
      >
      </div>
    </section>
  </Blur>
  <Blur
    className="w-[clamp(200px,20vw,300px)] lg:ml-28 mb-10 h-[240px] flex items-center px-8 md:mt-0 mt-20 show infinite-bounce [animation-delay:300ms;] "
    labelName="Contact"
  >
    <ViewMore href="/profile" />

    <section class="w-full text-center">
      <h1 class="font-bold text-white">Software Developer</h1>

      <div class="flex justify-center gap-2 items-start">
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
        <div class="bg-white h-14 rounded-full aspect-square"></div>
      </div>
    </section>
  </Blur>
</main>

<script>
  let isFirstJoin: string | boolean | null =
    sessionStorage.getItem("isFirstJoin");

  if (isFirstJoin == null) {
    isFirstJoin = true;
  } else {
    isFirstJoin = false;
  }

  const blurs = document.querySelectorAll(".blur-item");

  blurs.forEach((blur) => {
    if (isFirstJoin) {
      blur.classList.add("blur-fade-in");
    } 
  });

  sessionStorage.setItem("isFirstJoin", "false");

  function restartAnimation() {
    const animatedElements = document.querySelectorAll(".blur-item");
    if (animatedElements) {
      animatedElements.forEach((element) => {
        (element as HTMLElement).style.animation = "none";

        (element as HTMLElement).offsetHeight;
        (element as HTMLElement).style.animation = "";
      });
    }
  }

  window.addEventListener("astro:render", restartAnimation);
</script>
