---
import Blur from "../components/global/Blur.astro";
import ViewLess from "./svg/ViewLess.astro";
---

<Blur
  transitionName="projects"
  className="mx-10 mt-10 min-h-[80vh] h-full pt-14"
  labelName="Projects"
>
  <ViewLess />
  <article class="flex flex-wrap gap-5 justify-center pt-3">
    <div class="bg-white w-44 aspect-square" transition:name='project-1'></div>
    <div class="bg-white w-44 aspect-square" transition:name='project-2'></div>
    <div class="bg-white w-44 aspect-square" transition:name='project-3'></div>
    <div class="bg-white w-44 aspect-square" transition:name='project-4'></div>
    <div class="bg-white w-44 aspect-square"></div>
    <div class="bg-white w-44 aspect-square"></div>
  </article>
</Blur>
