@font-face {
  font-family: "JejuHallasan";
  src: url("/fonts/JejuHallasan.ttf");
}

@font-face {
  font-family: "jsMath";
  src: url("/fonts/jsMath.woff");
}

.blur-item:nth-child(1) {
  --timing-show: 1.2s;
  --timing-bounce: 3.2s;
}

.blur-item:nth-child(2) {
  --timing-show: 2.6s;
  --timing-bounce: 3.8s;
}

.blur-item:nth-child(3) {
  --timing-show: 2.8s;
  --timing-bounce: 4s;
}

.blur-item:nth-child(4) {
  --timing-show: 2s;
  --timing-bounce: 3.4s;
}

.blur-item {
  animation: infinite-bounce var(--timing-bounce, 3.2s) infinite ease-in-out;
}

.icon {
  stroke: rgba(255, 255, 255, 0.6);
}



.item {
  display: grid;
  place-content: center;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
  position: relative;

  & > svg {
    transition: all 200ms ease-in-out;
  }

  &:hover {
    background-color: var(--bg);

    & > svg {
      stroke: white;
    }
  }

  & > span {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms ease-in-out;
    background: var(--bg);
    padding-inline: 5px;
    border-radius: 5px;
    color: white;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: 5px solid transparent;
      border-top-color: var(--bg);
    }
  }

  &:hover > span {
    opacity: 1;
    transform: translate(-50%, -30px);
  }
}

.github {
  --bg: black;
}

.gmail {
  --bg: red;
}

.linkedin {
  --bg: #0077b5;
}

.whatsapp {
  --bg: #25d366;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes infinite-bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
