---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section
  class={`relative bg-white bg-opacity-30 rounded-2xl backdrop-filter backdrop-blur-sm shadow-[0_13px_20px_0_rgba(0,0,0,.2)] ${className ? className : ""}`}
>
  <slot />
</section>
