---

interface Props {
  className?: string;
  transitionName?: string;
  labelName?: string;
}

const { className, transitionName, labelName } =
  Astro.props;
---

<section
  class={`blur-item relative bg-[var(--bg-blur)] rounded-2xl backdrop-filter backdrop-blur-sm shadow-[0_13px_20px_0_rgba(0,0,0,.2)] ${className ? className : ""}`}
  transition:name={transitionName}
>
<span class='label'>{labelName}</span>
  <slot />
</section>
